.footer {
    background-color: #161513; /* Set background color */
    color: white; /* Set text color to white for contrast */
    padding: 20px;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-top-left p {
    font-size: 16px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer-bottom-left,
  .footer-bottom-right {
    font-size: 14px;
  }
  
  .footer-bottom-right p {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .footer-bottom-right p:hover {
    color: #ff6347; /* Optional: Change text color on hover */
  }
  